path {
    stroke-dasharray: 691;
    animation: stroke-ani 3s forwards;
  }

  @keyframes stroke-ani {

    from {
      stroke-dashoffset: 1;
    }
    to {
      stroke-dashoffset: attr(data-dashoffset);
    }
  }